
@*
		First Row
-------------------------------------------------------------------------------------- 
*@
<div class="row">
	<div class="span4">
		<h5>News & Events </h5>
		<p>
			Lorem ipsum dolor sit amet, consectetuer adipiscing elit, 
							sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. 
							Lorem ipsum dolor sit amet, consectetuer adipiscing elit, 
							sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. 
		</p>
		<p>
			<a href="@Url.Action("NewsAndEvents", "Home")" class="btn btn-warning btn-mini"> View More » </a>
		</p>
	</div>
	<div class="span4">
		<h5>Courses Offered </h5>
		<p>
			Lorem ipsum dolor sit amet, consectetuer adipiscing elit, 
							sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. 
							Lorem ipsum dolor sit amet, consectetuer adipiscing elit, 
							sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. 
		</p>
		<p>
			<a href="@Url.Action("CoursesOffered", "Home")" class="btn btn-warning btn-mini"> View More » </a>
		</p>
	</div>
	<div class="span4">
		<h5> Students </h5>
		<p>
			Lorem ipsum dolor sit amet, consectetuer adipiscing elit, 
							sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. 
							Lorem ipsum dolor sit amet, consectetuer adipiscing elit, 
							sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. 
		</p>
		<p>
			<a href="@Url.Action("Index", "Service")" class="btn btn-warning btn-mini"> View More » </a>
		</p>
	</div>
</div>

<br />



@*
		Second Row
-------------------------------------------------------------------------------------- 
*@


<div class="row">
	<div class="span4">
		<h5> Research & Extension </h5>
		<p>
			Lorem ipsum dolor sit amet, consectetuer adipiscing elit, 
							sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. 
							Lorem ipsum dolor sit amet, consectetuer adipiscing elit, 
							sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. 
		</p>
		<p>
			<a href="@Url.Action("Index", "Service")" class="btn btn-warning btn-mini"> View More » </a>
		</p>
	</div>
	<div class="span4">
		<h5> International Affairs </h5>
		<p>
			Lorem ipsum dolor sit amet, consectetuer adipiscing elit, 
							sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. 
							Lorem ipsum dolor sit amet, consectetuer adipiscing elit, 
							sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. 
		</p>
		<p>
			<a href="@Url.Action("CoursesOffered", "Home")" class="btn btn-warning btn-mini"> View More » </a>
		</p>
	</div>
	<div class="span4">
		<h5> Faculty Center </h5>
		<p>
			Lorem ipsum dolor sit amet, consectetuer adipiscing elit, 
							sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. 
							Lorem ipsum dolor sit amet, consectetuer adipiscing elit, 
							sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. 
		</p>
		<p>
			<a href="@Url.Action("Index", "Service")" class="btn btn-warning btn-mini"> View More » </a>
		</p>
	</div>
</div>
