@model IEnumerable<Tsu.DataAccess.Entities.Campus>

@{
	ViewBag.Title = "Index";
}

@{
	ViewBag.Title = "Admission";
}


@section featured
{



	<div class="row">
		<div class="span2">
			
			<div class="tabbable tabs-left tab-spy">
				<ul class="nav nav-tabs">
					<li class="nav-header">Admission </li>
					<li class="active"><a href="#test-requirements" data-toggle="tab">Test Requirements</a></li>
					<li><a href="#application" data-toggle="tab">Application </a></li>
					<li><a href="#examination" data-toggle="tab">Examination </a></li>
					<li><a href="#results" data-toggle="tab">Results </a></li>
					<li><a href="#policies-requirements" data-toggle="tab">Policies/Requirements </a></li>
				</ul>
			</div>
		</div>
		

		<div class="span8">

			<h2>Getting Admitted </h2>
			<br />
			<div class="tab-content admission-tabs">
				@Html.Partial("_TestRequirementsTab")
				@Html.Partial("_ApplicationTab")
				@Html.Partial("_ExaminationTab")
				@Html.Partial("_ResultsTab")
				@Html.Partial("_PoliciesRequirementsTab")
			</div>
		</div>
		<div class="span2">
			
			<ul class="nav nav-tabs nav-stacked">
				<li class="nav-header">Courses Offered </li>
				<li>
					<a href="#MainCampusCoursesModal" data-toggle="modal" data-target="#MainCampusCoursesModal"> » Main 
					</a>

				</li>
				<li>
					<a href="#LucindaCampusCoursesModal" data-toggle="modal" data-target="#LucindaCampusCoursesModal">» Lucinda 
					</a>
				</li>
				<li>
					<a href="#SanIsidroCampusCoursesModal" data-toggle="modal" data-target="#SanIsidroCampusCoursesModal">» San Isidro 
					</a>
				</li>
			</ul>

		</div>
</div>
}



<!-- Modals of Courses Offered by Campuses -->
@{
	var mainCampus = Model.FirstOrDefault(campus => campus.Name == "Main Campus");
	var lucindaCampus = Model.FirstOrDefault(campus => campus.Name == "Lucinda Campus");
	var sanIsidroCampus = Model.FirstOrDefault(campus => campus.Name == "San Isidro Campus");
}

@Html.Partial("_MainCampusCoursesModal", mainCampus)
@Html.Partial("_LucindaCampusCoursesModal", lucindaCampus)
@Html.Partial("_SanIsidroCampusCoursesModal", sanIsidroCampus)


@section pageStyle
{
	@Styles.Render("~/Content/Admission.css")
}





