@model IEnumerable<Tsu.Website.Models.CollegeModel>

<table class="table table-striped course-table">
	<tr>
		<td><strong> COURSE CODE </strong></td>
	</tr>
	@foreach (var college in Model)
	{
		<tr class="">
			<td></td>
			<td>
				<h5> @college.Name.ToUpper() </h5>
			</td>
		</tr>
		
		if (college.Courses.Count > 0)
		{
			foreach (var course in college.Courses)
			{
				if (!String.IsNullOrEmpty(course.Code))
				{
					<tr>
						<td>
							<span class="badge badge-inverse"> @course.Code[0] </span>
							<span class="badge badge-inverse"> @course.Code[1] </span>
							<span class="badge badge-inverse"> @course.Code[2] </span>
							<span class="badge badge-inverse"> @course.Code[3] </span>
						</td>
						<td> @course.Name </td>
					</tr>
				}
				else
				{
					<tr>
						<td> </td>
						<td> @course.Name </td>
					</tr>
	 
					foreach (var major in course.MajorDisciplines)
					{
						<tr>
						<td>
							<span class="badge badge-inverse"> @major.Code[0] </span>
							<span class="badge badge-inverse"> @major.Code[1] </span>
							<span class="badge badge-inverse"> @major.Code[2] </span>
							<span class="badge badge-inverse"> @major.Code[3] </span>
						</td>
						<td> major in @major.Name </td>
					</tr>
					}
				}
			}
		}
	}
</table>