@model IEnumerable<Tsu.Domain.Entities.College>


<table class="table table-striped">
	<tr>
		<td style="min-width:130px;"><strong> COURSE CODE </strong></td>
	</tr>
	@foreach (var college in Model)
	{
		<tr class="">
			<td></td>
			<td class="college-name">
				 @college.Name.ToUpper()
			</td>
		</tr>
		
		if (college.Courses.Count > 0)
		{
			foreach (var course in college.Courses)
			{
				if (!String.IsNullOrEmpty(course.AdmissionCode))
				{
					<tr>
						<td>
							<span class="badge badge-inverse"> @course.AdmissionCode[0] </span>
							<span class="badge badge-inverse"> @course.AdmissionCode[1] </span>
							<span class="badge badge-inverse"> @course.AdmissionCode[2] </span>
							<span class="badge badge-inverse"> @course.AdmissionCode[3] </span>
						</td>
						<td class="course-name"> @course.Name </td>
					</tr>
				}
				else
				{
					<tr>
						<td> </td>
						<td class="course-name"> @course.Name </td>
					</tr>
	 
					foreach (var major in course.Majors)
					{
						<tr>
						<td>
							<span class="badge badge-inverse"> @major.AdmissionCode[0] </span>
							<span class="badge badge-inverse"> @major.AdmissionCode[1] </span>
							<span class="badge badge-inverse"> @major.AdmissionCode[2] </span>
							<span class="badge badge-inverse"> @major.AdmissionCode[3] </span>
						</td>
						<td class="major-name"> major in @major.Name </td>
					</tr>
					}
				}
			}
		}
	}
</table>