@{
	ViewBag.Title = "";
}


@section featured
{
	@ViewBag.Test
	@Html.Partial("_FeaturedHome")
}

<div class="hr-gold"></div>

@Html.Partial("_QuicklinksLower")

<div class="hr-gold"></div>

@section otherFeatured
{
	<div class="container">
		<div class="row">
			<div class="span4 text-center">
			
			</div>

			<div class="span4 text-center">
				
			</div>

			<div class="span4 text-center">
				<a href="#">
					<img src="~/Images/Logos/transparency-logo.png" />
				</a>

			</div>
		</div>
	</div>

}


@section scripts
{
	@Scripts.Render("~/Scripts/jquery.carouFredSel-6.0.4-packed.js")
	@Scripts.Render("~/Scripts/js/slideshows.js")
}